.bottom_weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: white;
}
// .ant-descriptions-item-content {
//     color: white !important;
// }


